/web/bundles/
/web/assetic/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/vendor/
/bin/
.php_cs.cache

/src/Portal/Bundle/AppBundle/Resources/assets_src/node_modules
/src/Portal/Bundle/AppBundle/Resources/public/
/src/Portal/Bundle/MoneyBundle/Resources/asset_src/node_modules
/src/Portal/Bundle/MoneyBundle/Resources/public/
