<h2>Gists</h2>
<ul>
    {% for gist in gists %}
        <li>{{ gist.id }} - {{ gist.description }} ({{ gist.url }}) - {% if gist.public %}Public{% else %}Secret{% endif %}</li>
    {% endfor %}
</ul>

<h2>Repositories</h2>
<ul>
    {% for repository in repositories %}
        <li>{{ repository.id }}</li>
    {% endfor %}
</ul>
